
/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Montserrat", sans-serif;
}

.CodeMirror {
  height: 200px;
  /* font-family: 'Ubuntu Mono', monospace !important; */
  /* font-family: "IBM Plex Mono", monospace; */
}
/* 
.container {
  height: 100%;
  position: fixed;
  width: 100%;
} */

.react-codemirror2 {
  width: 100%;
}

.Pane1,
.Pane2 {
  overflow: scroll;
  /* Fucky panel shit. */
  height: calc(100% - 120px);
}

.Resizer {
  height: 100vh;
  min-width: 2px;
  background: #333;
  cursor: row-resize;
}

/* .container {
  padding-top: 60px;
} */

