/*
    Name:       Panda Syntax
    Author:     Siamak Mokhtari (http://github.com/siamak/)
    CodeMirror template by Siamak Mokhtari (https://github.com/siamak/atom-panda-syntax)
*/

.cm-s-custom-0 {
	background: #292a2b;
	color: #e6e6e6;
	line-height: 1.5;
	font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas,
		Courier New, monospace;
}
/* 
.cm-s-custom-0 {
	background: #292a2b;
	color: #e6e6e6;
	line-height: 1.5;
	font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas,
		Courier New, monospace;
}
.cm-s-custom-0 .CodeMirror-cursor {
	border-color: red;
}
.cm-s-custom-0 .CodeMirror-activeline-background {
	background: rgba(99, 123, 156, 0.1);
}
.cm-s-custom-0 .CodeMirror-selected {
	background: #fff;
}
.cm-s-custom-0 .cm-comment {
	font-style: italic;
	color: #676b79;
}
.cm-s-custom-0 .cm-operator {
	color: #f3f3f3;
}
.cm-s-custom-0 .cm-string {
	color: #19f9d8;
}
.cm-s-custom-0 .cm-string-2 {
	color: #ffb86c;
}
.cm-s-custom-0 .cm-tag {
	color: #ff2c6d;
}
.cm-s-custom-0 .cm-meta {
	color: #b084eb;
}
.cm-s-custom-0 .cm-number {
	color: #ffb86c;
}
.cm-s-custom-0 .cm-atom {
	color: #ff2c6d;
}
.cm-s-custom-0 .cm-keyword {
	color: #ff75b5;
}
.cm-s-custom-0 .cm-variable {
	color: #ffb86c;
}
.cm-s-custom-0 .cm-variable-2 {
	color: #ff9ac1;
}
.cm-s-custom-0 .cm-variable-3,
.cm-s-custom-0 .cm-type {
	color: #ff9ac1;
}
.cm-s-custom-0 .cm-def {
	color: #e6e6e6;
}
.cm-s-custom-0 .cm-property {
	color: #f3f3f3;
}
.cm-s-custom-0 .cm-unit {
	color: #ffb86c;
}
.cm-s-custom-0 .cm-attribute {
	color: #ffb86c;
}
.cm-s-custom-0 .CodeMirror-matchingbracket {
	border-bottom: 1px dotted #19f9d8;
	padding-bottom: 2px;
	color: #e6e6e6;
}
.cm-s-custom-0 .CodeMirror-gutters {
	background: #292a2b;
	border-right-color: rgba(255, 255, 255, 0.1);
}
.cm-s-custom-0 .CodeMirror-linenumber {
	color: #e6e6e6;
	opacity: 0.6;
} */
