body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  background-color: rgb(1, 2, 11);
  color: rgb(195, 194, 197);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/***** TITLES *****/
h3 {
  margin-block-start: 0em;
}

.no-tracing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notracing .no-tracing-msg {
  align-self: center;
}

.no-tracing-msg {
  color: #3e3a41;
}

/***** CONTAINERS *****/
#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#left-container, 
#middle-container,
#right-container {
  width: 33%;
  min-height: 95%;
}


/***** CODEMIRROR *****/

.CodeMirror {
  min-height: 100%;
  /* font-family: 'Ubuntu Mono', monospace !important; */
  /* font-family: "IBM Plex Mono", monospace; */
}

.react-codemirror2 {
  width: 95%;
}

.Resizer {
  height: 100vh;
  min-width: 2px;
  background: #333;
  cursor: row-resize;
}

/***** NAVBAR *****/

.logo-img {
  width: 250px
}

.nav-bar {
  margin-bottom: 5px;
}

/***** INPUTS *****/
.input {
  overflow-wrap: break-word;
}

#input-link {
  height: 1.2em;
  width: 100%;
  background-color: rgb(19, 19, 37);
  border: none;
  color: white;
  padding: 10px;
  /* margin: 0px 10px; */
}

.btn-gray {
  background-color: transparent;
  text-indent: 0px;
  text-shadow: none;
  border:none;
  margin-left: 30px;
  background-color: #1c232f;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #bec0c2;            
  border-radius: 10px;
  display: inline;
}

.btn-gray:hover {
  background-color: #141a24;
}

/* #query-input {
  height: 6em;
  width: 95%;
}

#variable-input {
  height: 6em;
  width: 95%;
} */

/***** OUTPUTS *****/

.output-display {
  height: 95%;
  width: 95%;
  /* overflow: auto;
  overflow-wrap: break-word;
  border: 1px solid purple; */
}

.server-field {
  display: inline-flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.server-title, .server-btn {
  flex-grow: 1
}

.server-input {
  flex-grow: 40
}

/***** RESPONSIVE CSS *****/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #left-container, 
  #middle-container,
  #right-container {
    width: 100%;
    min-height: 50%;
    margin-bottom: 20px;
  }
}